<div class="col-md-10">
  <h2>BikeShareについて</h2><br/>
  <h5 class="introduction">
    本サービスは、バイクの個人間シェアのプラットフォームをご提供します。<br/>
    より詳細なサービス内容につきましては、下記のリンクをご一読ください。<br/></h5><br/>

  <h2>概要</h2><hr/>
  <h5 class="questions">
    本サービスは、Airbnbなどと似たサービスとなっており、<br/>
    個人の所有しているバイクをレンタルしたい個人に貸し出すことができます。<br/>
    バイクのご利用者様は、自ら所有することなく好みのバイクを借りることができ、<br/>
    オーナー様はシェアすることで、キャッシュを生み出し、よりよいバイクライフを楽しめるようサポートします。<br/>
    バイクに乗りたいときに、お気軽に近くのバイクを探し、所有者に本webサイト上でメッセージを送ることができます。<br/>
    オーナー様も、リクエスト日を確認して、承認・拒否することが可能です。
  </h5><br/>

  <h2>ご利用の利点</h2><hr/>
  <h5 class="questions">
    本サービスは、Airbnbなどと似たサービスとなっており、<br/>
    個人の所有しているバイクをレンタルしたい個人に貸し出すことができます。
    バイクのご利用者様は、自ら所有することなく好みのバイクを借りることができ、<br/>
    オーナー様はシェアすることで、キャッシュを生み出し、よりよいバイクライフを楽しめるようサポートします。<br/>
    バイクに乗りたいときに、お気軽に近くのバイクを探し、所有者に本webサイト上でメッセージを送ることができます。<br/>
    オーナー様も、リクエスト日を確認して、承認・拒否することが可能です。
  </h5>
</div>
