<div class="col-md-12">
  <h3 class="text-center">バイクを借りる</h3><hr/>
  <div class="col-md-10 col-md-offset-3">
    <h3>バイクを見つける</h3>
    <p>借りたいバイクを見つけましょう。場所や価格で検索することも可能です。</p>
  </div>

  <div class="col-md-10 col-md-offset-3">
    <h3>バイクを予約する</h3>
    <p>免許番号と保険内容をアップロードして、バイクを予約してください。<br/>
      弊社にて確認させて頂きます。<br/> * リクエスト申請後、オーナー様から承認された場合、課金が発生します。(手数料20%)</p>
  </div>

  <div class="col-md-10 col-md-offset-3">
    <h3>バイクを借りる</h3>
    <p>オーナー様の貸出場所にて、鍵を引き取り、バイクの確認をしてください。<br/>
        失礼なコミュニケーションは避けて頂くようお願い致します。</p>
  </div>

  <div class="col-md-10 col-md-offset-3">
    <h3>出発</h3>
    <p>安全運転を心がけて出発しましょう。<br/>
      返却まできちんとお願い致します。返却時間等の確認もオーナー様と確認お願い致します。</p>
  </div>
</div>
