<div class="row">
  <div class="col-md-12">
    今週の収益
          <% if @reservations.blank? %>
              <h3>今週はありません</h3><br/>
              <%= link_to "バイクをシェアしましょう", new_motorbike_path, class: "btn btn-normal" %>
          <% else %>
              <%= column_chart @this_week_revenue, colors: ["#00A699"] %>
          <% end %>
        </div>
      </div>
